<div id="catalog">
<div class="inline-display"><%= render "shared/vegetable_details" %></div>
<div class="inline-display"><%= render "shared/vegetable_details" %></div>
<div class="inline-display clear"><%= render "shared/vegetable_details" %></div>
<div class="inline-display"><%= render "shared/vegetable_details" %></div>
<div class="inline-display clear"><%= render "shared/vegetable_details" %></div>
<div class="inline-display"><%= render "shared/vegetable_details" %></div>
</div>