<!DOCTYPE html>
<html>
<head>
  <title>Bhaji</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

  <%= render "shared/top_bar" %>
  <%= render "shared/top_menu" %>
  <div id="left-menu-container">
    <%= render "shared/left_menu" %>
  </div>
  <div id="content">
    <%= yield %>
  </div>
  <%= render "shared/footer" %>

</body>
</html>
