<!DOCTYPE html>
<html>
  <head>
    <title>Bhaji</title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= render "shared/top_bar" %>

    <div class="main">
      <%= yield %>
    </div>

    <%= render "shared/footer" %>

  </body>
</html>